@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to encryptify</h1>
    <p>Securely store and manage your passwords in one place. Encrypt your credentials and access them anytime.</p>
    <a class="btn btn-primary" asp-controller="PasswordCredential" asp-action="Index">Manage Your Passwords</a>
</div>
