@model IEnumerable<SecurePasswordApp.Models.UserProfile>

<h2>User Profiles</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Age</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FullName</td>
            <td>@user.Email</td>
            <td>@user.Age</td>
        </tr>
    }
</table>
